<div><button  mat-raised-button color="accent" 
    routerLink ='/employeelogin'><span class="text">Back</span></button></div>

<h1> Employee personal page</h1>

    <div class = "center">
        <div class="example-label">
        <div class="example-button-row">
          <button mat-raised-button color="accent" routerLink ='/checktask'><span class="text">Check Task</span></button>
          <br>
          <br>
          <button mat-raised-button color="accent" routerLink ='/updatetask'><span class="text">Update Task</span></button> 
          <br>
          <br>
          <button mat-raised-button color="primary" routerLink ='/applyleave'><span class="text">Apply Leave</span></button>
          <br>
          <br>
          <button mat-raised-button color="primary" routerLink ='/leavestatus'><span class="text">Leave Status</span></button>      
          <!-- <button mat-raised-button color="primary" routerLink ='/showleave'><span class="text">Leave Status</span></button>       -->
          <br>
          <br>
          <button mat-raised-button color="warn"  routerLink ='/profileupdate'><span class="text">Profile Update</span></button>
        </div>
        </div>
      </div>

      <footer>
        <div>
        <button mat-raised-button color="warn" routerLink=""> LOG OUT</button> 

        </div>
        
        </footer>