<button mat-raised-button color="warn"routerLink="/adminmnghome"> Back</button> 



<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="mng_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Manager ID</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mng_id}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="Manager_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Manager_name}}</mat-cell>
    </ng-container>


     
     <ng-container matColumnDef="mng_email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Manager Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mng_email}} </mat-cell>
    </ng-container>

    
    

    
     <ng-container matColumnDef="mng_phone_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mng_phone_no}} </mat-cell>
    </ng-container>

   
    <!-- <ng-container matColumnDef="mng_password">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Password </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mng_password}} </mat-cell>
    </ng-container>
     -->
   

     <!-- Action column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
        <mat-cell *matCellDef="let row"> 

          <button routerLink="/updatemng" mat-raise-button color="primary">UPDATE</button>
          <!-- <button mat-button color="warn"><i class="fa fa-trash"></i></button> -->
<!-- 
          <button [routerLink]="['/viewemp',row.id]" mat-icon-button color="primary"><i class="fa fa-eye"></i></button>
          <button (click)="edit(row.Employee_name)" color="accent"><i class="fa fa-pencil"></i></button>
          <button mat-icon-button color="warn"><i class="fa fa-trash"></i></button> -->
        </mat-cell>
      </ng-container>
  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
