<button mat-raised-button color="warn"routerLink="/adminhome"> Back</button> 


<header> 
   
    <div class="example-label">
        <div class="example-button-row">

          <button mat-raised-button color="warn" 
          routerLink ='/addmng'><span class="text">ADD Manager</span></button> 
          <div class=" space "></div>
          <!-- <button  mat-raised-button color="accent" 
          routerLink ='/updatemng'><span class="text">Update Manager</span></button>   -->
          <div class=" space "></div>
          <button mat-raised-button color="primary" 
          routerLink ='/showmng'><span class="text">Show All Manager</span></button>  
        </div>
    </div>

</header>