<!-- <p>leave-approval works!</p> -->
<button mat-raised-button color="warn"routerLink="/mnghome"> Back</button> 



<br /><br />

<h3 style="text-align: center">Update Leave</h3>
<br />
<form class="d-flex" style="padding-left: 300px; padding-right: 300px">
  <input
    class="form-control"
    type="text"
    placeholder="Enter Process ID "
    [(ngModel)]="process_id"
    name="process_id"
  />
  <button
    style="margin: 10px"
    class="btn btn-outline-dark"
    type="submit"
    (click)="search()"
  >
    Search
  </button>
</form>

<br />
<div *ngIf="show">
  <form
    class="row g-3 p-5 mb-3"
    style="background-color: rgb(245, 161, 5); margin-left: 40px; margin-right: 40px;">
    <!-- <div class="col-md-5">
      <label class="form-label">Employee Name</label>
      <input
        type="id" class="form-control" name="id" [(ngModel)]="Employee_name" />
    </div> -->


    <!-- <div class="col-md-5">
        <label class="form-label"> Leave Type</label>
        <input
          type="id" class="form-control" name="id" [(ngModel)]="leave_type" />
      </div> -->

    <!-- <div class="col-5">
      <label class="form-label">Leave Reason</label>
      <input
        type="text" class="form-control" name="firstName" [(ngModel)]="leave_reason" />
    </div> -->

    <!-- <div class="col-5">
      <label for="lastName" class="form-label">Email Address</label>
      <input  type="text"  class="form-control" name="lastName" [(ngModel)]="emp_email" />
    </div> -->

    <!-- <div class="col-5">
      <label for="lastName" class="form-label">Total Days</label>
      <input
        type="text" class="form-control" name="lastName" [(ngModel)]="total_days"/>
    </div> -->

    <!-- <div class="col-md-5">
      <label class="form-label">Password</label>
      <input
        type="password" class="form-control" name="password" [(ngModel)]="emp_password" />
    </div> -->

    <!-- <div class="col-5">
      <label class="form-label">Leave Status</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="leave_status"/>
    </div> -->
    
    <form #f="ngForm">
        <input type="radio" value="accepted" name="gender" [(ngModel)]="leave_status" required> accepted
        <input type="radio" value="rejected" name="gender" [(ngModel)]="leave_status" required> rejected
        <!-- <button [disabled]="f.valid">Next</button> -->
      </form>
    


    <div class="col-10">
      <button type="submit" class="btn btn-primary" (click)="updateData()">
        Update
      </button>
    </div>
  </form>
</div>



  