<button mat-raised-button color="warn"routerLink="/emphome"> Back</button> 



<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
</div>



<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="task_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Task ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.task_id}}</mat-cell>
    </ng-container>

    

    <ng-container matColumnDef="task_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.task_name}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="task_detail">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Task Detail</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.task_detail}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="allowed_days">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Allowed Days </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.allowed_days}} </mat-cell>
    </ng-container>

  
     
    <ng-container matColumnDef="task_progress">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Task Progress</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.task_progress}} </mat-cell>
    </ng-container>

    
     <ng-container matColumnDef="Employee_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Employee_name}} </mat-cell>
    </ng-container>

    

     <!-- Action column -->
      <!-- <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
        <mat-cell *matCellDef="let row"> 

          <button [routerLink]="['/viewemp',row.id]" mat-icon-button color="primary"><i class="fa fa-eye"></i></button>
          <button (click)="edit(row.Employee_name)" color="accent"><i class="fa fa-pencil"></i></button>
          <button mat-icon-button color="warn"><i class="fa fa-trash"></i></button>
        </mat-cell>
      </ng-container> -->
  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
