<button mat-raised-button color="warn" routerLink=""> Back</button> 

<!-- <header>
  
  <button  routerLink="/adminlogin" > Admin login</button>

  <button routerLink="/managerlogin"> Manager login </button>
  <button routerLink="/employeelogin">  Employee login </button>
</header> -->

<div class = "center">
  <div class="example-label">
  <div class="example-button-row">
    <!-- <button mat-raised-button>Basic</button> -->
    <button mat-raised-button color="primary"routerLink="/adminlogin" > Admin login</button>
    <div class=" space "></div>
    <button mat-raised-button color="accent" routerLink="/managerlogin"> Manager login</button>
    <div class=" space "></div>
    <button mat-raised-button color="warn"routerLink="/employeelogin">  Employee login</button>  
  </div>
  </div>
</div>