<button mat-raised-button color="warn"routerLink="/mnghome"> Back</button> 


<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
</div>



<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="process_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Leave ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.process_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Employee_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Employee_name}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="leave_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.leave_reason}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="leave_reason">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Reason </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.leave_reason}} </mat-cell>
    </ng-container>

     
     <!-- <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.start_date}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="total_days">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Total Days</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.total_days}} </mat-cell>
    </ng-container>

    
     <ng-container matColumnDef="leave_status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Leave Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.leave_status}} </mat-cell>
    </ng-container>

    
     <!-- <ng-container matColumnDef="emp_phone_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.emp_phone_no}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="emp_password">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Password </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.emp_password}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="Manager_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Manager_name}} </mat-cell>
    </ng-container> -->

     <!-- Action column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Approval</mat-header-cell>
        <mat-cell *matCellDef="let row"> 

          <button routerLink="/leaveapproval" mat-raise-button color="primary">update</button>
          <!-- <button [routerLink]="['/viewemp',row.id]" mat-icon-button color="primary"><i class="fa fa-eye"></i></button>
          <button (click)="edit(row.Employee_name)" color="accent"><i class="fa fa-pencil"></i></button>
          <button mat-icon-button color="warn"><i class="fa fa-trash"></i></button> -->
        </mat-cell>
      </ng-container>
  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
