<div><button  mat-raised-button color="accent" 
    routerLink ='/managerlogin'><span class="text">Back</span></button></div>

    <div class = "center">
        <div class="example-label">
        <div class="example-button-row">
          <button mat-raised-button color="accent" routerLink ='/showleave'><span class="text">Leave Manager </span></button>
          
          <!-- <button mat-raised-button color="accent" routerLink ='/leaveapproval'><span class="text">Leave approval</span></button>  -->
          <br>
          <br>
          <button mat-raised-button color="primary" routerLink ='/addtask'><span class="text">ADD Task</span></button>
          <br>
          <br>
          <!-- <button mat-raised-button color="primary" routerLink ='/assigntask'><span class="text">Assign Task</span></button>      
          <br>
          <br> -->
          <button mat-raised-button color="warn" routerLink ='/taskprogress'><span class="text">Task Status</span></button>
        </div>
        </div>
      </div>
      <footer>
        <div>
        <button mat-raised-button color="warn" routerLink=""> LOG OUT</button> 

        </div>
        
        </footer>